html, body {
  overflow-x: hidden;
  background-color: rgb(250, 250, 250);
}

.shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  margin-bottom: 16px;
}

/* Typography */

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 0px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: rgb(24, 24, 24);
  margin-top: 0px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgb(24, 24, 24);
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(100, 100, 100);
  line-height: 1.5;
}

.support-text {
  margin-top: -16px;
}

.project-description {
  max-width: 100%;
  margin-bottom: 24px;
  margin-top: -16px;
}

/* Container */

.page-container {
  width: 64vw;
  margin: 0 auto;
  display: flex;
}

.main-container {
  margin-left: 240px;
}

.main-container h3 {
  font-size: 20px;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 50%;
}

/* Side nav */

.sidenav {
  height: 100vh;
  width: 240px;
  position: fixed;
  padding-top: 40px;
  background-color: rgb(250, 250, 250);
}

.sidenav-old {
  height: 100vh;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;

  padding-left: 8px;
  background-color: rgb(250, 250, 250);
}

.sidenav a {
  padding-left: 32px;
  padding-top: 8px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgb(80, 80, 80);
  display: block;
}

.sidenav h2 {
  padding-left: 32px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: rgb(24, 24, 24);
}

.sidenav h3 {
  padding-left: 32px;
  padding-top: 16px;
  margin-bottom: 0px;
}

.sidenav a:hover {
  color: #416fa2;
}

.sidenav-icon {
display: none;
}

.name-bar {
  display: none;
}

/* Images */

.img-me {
  max-width: 100%;
}

.film {
  max-width: 33%;
  height: auto;
}

.content-img {
  max-width: 100%;
}

.plans-img {
  max-width: 33%;
  height: auto;
}

.plans-circle-1 {
  position: absolute;
  left: 60%;
  top: 40%;
  width: 75%;
  z-index: 0;
}

.hero-item {
  max-width: 100%;
}

.one-item {
  max-width: 100%;
  z-index: 1;
}

.two-items {
  max-width: 48.75%;
  z-index: 1;
}

.three-items {
  max-width: 32%;
  padding-bottom: 16px;
  z-index: 1;
}

.four-items {
  max-width: 23%;
  z-index: 1;
}

/* Buttons */

.black-btn {
  background-color: rgb(25, 25, 25);
  color: rgb(250, 250, 250);
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: none;
}

.black-btn:hover {
  background-color: #416fa2;
}

/* footer */

.footer {
  height: 40px;
}


/* Animations */

@keyframes gradient-animation {
  from {background-image: linear-gradient(128deg, transparent, transparent);}
  to {background-image: linear-gradient(128deg, #40E0D0, #FFD700);;}
}

.text-fade-in {
  color: transparent;
  background-image: linear-gradient(128deg, transparent, transparent)
  /* background-image: linear-gradient(128deg, #40E0D0, #FFD700); */
  background-clip: text;
  -webkit-background-clip: text;
  animation-name: gradient-animation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.text-fade-in.one {
  opacity: 1;
}


/* media */

@media (max-width: 768px) {

  h1 {
    margin-top: 64px;
  }

  .content-container{
    align-items: left;
    flex-direction: column;
  }

  .sidenav {
    height: 0%;
    width: 100%;
    padding-left: 0px;
    transition: 0.3s;
    opacity: 0%;
    z-index: 11;
  }

  .sidenav.open {
    height: 100%;
    width: 100%;
    opacity: 100%;
    margin-left: -40px;
  }

  .sidenav a {
    font-size: 24px;
  }

  .sidenav h2 {
    font-size: 48px;
  }

  .sidenav h3 {
    font-size: 24px;
  }

  .name-bar {
    display: block;
    width: 100%;
    background-color: rgba(250, 250, 250);
    position: fixed;
    z-index: 10;
    top: 0;
    padding-top: 16px;
    padding-left: 88px;
  }

  .main-container {
    margin-left: 0px;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    margin-top: 16px;
  }

  .content p {
    font-size: 17px;
  }

  .film {
    max-width: 100%;
    padding-bottom: 16px;
  }

  .sidenav-icon {
    display: block;
    width: 64px;
    position: fixed;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    padding-right: 24px;
    padding-bottom: 40px;
    z-index: 12;
  }

  .plans-img {
    max-width: 100%;
    padding-bottom: 16px;
  }

  .plans-circle-1 {
    display: none;
  }

  .hero-item {
    display: none;
  }

  .two-items {
    max-width: 100%;
    padding-bottom: 16px;
  }

  .three-items {
    max-width: 100%;
    padding-bottom: 16px;
  }


  .four-items {
    max-width: 100%;
    padding-bottom: 16px;
  }

}
