/* Typography */

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 56px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: rgb(24, 24, 24);
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgb(24, 24, 24);
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* Container */

.main-container {
  margin-left: 280px;
  padding: 0px 40px;
}

/* Side nav */

.sidenav {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(250, 250, 250);
  overflow-x: hidden;
  padding-top: 40px;
  padding-left: 8px;
}

.sidenav a {
  padding-left: 32px;
  padding-top: 8px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgb(80, 80, 80);
  display: block;
}

.sidenav h2 {
  padding-left: 32px;
  margin-bottom: 0px;
}

.sidenav h3 {
  padding-left: 32px;
  padding-top: 16px;
  margin-bottom: 0px;
}

.sidenav a:hover {
  color: #416fa2;
}
